@model IEnumerable<MVC_CrudOpe.Models.MovieTable>
@{
    ViewBag.Title = "GetMovieName";
}

<h2>GetMovieName</h2>

@foreach(var item in Model)
            {
                 <li>@item.Mid</li>
                <li>@item.Moviename</li>
                <li>@item.DateofRelease</li>
            }